@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// font-family
$primary-ff: "Rubik", sans-serif;

//colors
$white: #ffffff;
$black: #303841;
$gray: #777777;
$yellow: #f6c90e;

// border-radius
$br: 30px;


// animation
$ani-1: ripple ease-in-out 9s infinite alternate;

// keyframes
@keyframes ripple {
    0% {
    }
    100% {
        height: 400px;
    }
}
